{% extends 'base.html' %}
{% load static %}
{% block title %}PPwLLM{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h3>Getting Code from LLM</h3>
        </div>
        <div>
            <div class="d-flex flex-row flex-wrap mx-2">
                {% if currobj %}
                <div class="card">
                    <div class="card-header">
                        <p>Your Challenge: <span>{{currobj.challenge}}</span></p>
                    </div>
                    <div class="card-body">
                        <div>
                            <p>Code Lang: <span>{{currobj.language}}</span></p>
                        </div>
                        <div>
                            <p>App Type: <span>{{currobj.apptype}}</span></p>
                        </div>
                        <div>
                            <p>Coding Exp: <span>{{currobj.experience}}</span></label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="w-50 mx-2">
                    {% if intentdtl %}
                    <h6>Identified Intents: </h6>
                        {% for dtl in intentdtl %}
                        <div class="my-1">
                            <h5>Intent</h5>
                            <div>
                                <p>{{dtl.user_intent}}</p>
                                <a href="{% url 'gen_code' dtl.id %}" class="btn btn-primary">Code Intent</a>
                                <a href="{% url 'rem_int' dtl.id %}" class="btn btn-danger">Delete Intent</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if int_obj %}
                    <div class="mx-1 row">
                        <h5>Intent is: {{int_obj.user_intent}</h5>
                        <a href="{% url 'load_chlng' chlng_id %}" class="mx-1 btn btn-primary">Back</a>
                    </div>
                   {% endif %}
                </div>
                <div class="w-100 mx-2">
                    {% if curr_code_list %}
                    <h6>AI Code: </h6>
                        <div class="my-1">
                            <textarea name="codeconv" id="codeconv" cols="80" rows="20">{{int_code_convo}}</textarea>
                        </div>
                        <input type="text" size="80" id="user_msg" placeholder="{{user_feedback}}"><br>
                        <input type="button" class="btn btn-success my-1" value="send" id="submit">
                        <a href="{% url 'begin_code' chlng_id %}" class="btn btn-primary">Back</a>
                    {% endif %}
                    {% if snippet %}
                        <div class="my-1">
                            <textarea name="codeconv" id="codeconv" cols="80" rows="20">{{int_code_convo}}</textarea>
                        </div>
                        <input type="text" size="80" id="user_msg" placeholder="{{user_feedback}}"><br>
                        <input type="button" class="btn btn-success my-1" value="send" id="submit">
                        <a href="{% url 'begin_code' chlng_id %}" class="btn btn-primary">Back</a>
                    {% endif %}
                </div>
            </div>
       </div>
    </div>
    {% if intent_obj.pk %}
    <script>
        window.addEventListener("DOMContentLoaded", () =>{
        const websy = new WebSocket(`ws://${window.location.host}/ws/code/{{intent_obj.pk}}/`);
        document.querySelector("#submit").addEventListener("click", () => {
            console.log("got in") 
            const codeconv = document.querySelector("#codeconv").value
            const user_msg = document.querySelector("#user_msg").value
            const itt_id = `{{intent_obj.pk}}`
            const packet = {user_msg: user_msg,
                            codeconv: codeconv,
                            itt_id: itt_id}
            console.log(packet)
            websy.send(JSON.stringify(packet))

        });
        websy.onmessage = ({ data }) => {
            const json_data = JSON.parse(data)
            console.log(json_data)
            if ('updated_code' in json_data) {
            document.querySelector("#codeconv").value += `
User: ${json_data['user_msg']}
AI Gen Code: ${json_data['updated_code']}
`
            }  
        };
    });
    </script>
    {% endif %}
{% endblock %}