{% extends 'base.html' %}
{% load static %}
{% block title %}PPwLLM{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h3>Welcome. Lets get coding </h3>
        </div>
        <div class="d-flex flexwrap">
            <div class="w-50 mx-1">
                <form action="{% url 'intent' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <h6>Begin Clarifying Intent: </h6>
                    </div>
                    <div>
                        <label for="challenge">Your Challenge: </label>
                        <input type="text" name="challenge" id="challenge">
                    </div>
                    <div>
                        <label for="lang">Code Language:</label>
                        <input type="text" name="lang" id="lang"> 
                    </div>
                    <div>
                        <label for="apptype">Type of App:</label>
                        <input type="text" name="apptype">
                    </div>
                    <div>
                        <label for="exp">Coding Experience</label>
                        <input type="text" name="exp">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info mx-3">Check Intent</button>
                    </div>
                </form>
            </div>
            <div class="w-60 mx-1">
                <h6>Prompt for Intent: </h6>
                <textarea name="int_prompt" id="" cols="100" rows="10">{{ int_prompt }}</textarea>
            </div>
        </div>
    </div>
{% endblock %}