{% extends 'base.html' %}
{% load static %}
{% block title %}PPwLLM{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h3>Welcome. Lets get coding </h3>
        </div>
        <div>
            <div class="d-flex flex-row flex-wrap">
                {% if newchallenge %}
                <div class="w-30 mx-1 p-2">
                    <form action="{% url 'save' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <h6>Begin {{ newchallenge }}: </h6>
                        </div>
                        <div style="height: 100px;">
                            <label for="challenge">Your Challenge </label>
                            <input type="text" name="challenge" id="challenge" class="float-right h-50">
                        </div>
                        <div>
                            <label for="language">Code Lang </label>
                            <select name="language" id="language" class="form-select mx-3">
                                <option value="python">Python</option>
                                <option value="javascript">JavaScript</option>
                                <option value="go">Go</option>
                                <option value="rust">Rust</option>
                            </select>
                        </div>
                        <div>
                            <label for="apptype">App Type </label>
                            <select name="apptype" id="apptype" class="form-select mx-3">
                                <option value="script">Script</option>
                                <option value="webapp">WebApp</option>
                                <option value="gui">GUI</option>
                                <option value="commandline">CommandLine</option>
                            </select>
                        </div>
                        <div>
                            <label for="experience">Coding Exp </label>
                            <select name="experience" id="experience" class="form-select mx-3">
                                <option value="non-coder">Non-Coder</option>
                                <option value="amateur">Amateur</option>
                                <option value="junior">Junior</option>
                                <option value="midlevel">MidLevel</option>
                                <option value="hacker">Hacker</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="my-3 btn btn-primary mx-3">Save Intent</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="w-30 mx-1 p-2">
                    <div>
                        <h6>Loading {{ challenge.challenge|truncatewords:3 }}: </h6>
                    </div>
                    <div>
                        <p>Your Challenge: <span>{{challenge.challenge}}</span></p>
                    </div>
                    <div>
                        <p>Code Lang: <span>{{challenge.language}}</span></p>
                   </div>
                    <div>
                        <p>App Type: <span>{{challenge.apptype}}</span></p>
                    </div>
                    <div>
                        <p>Coding Exp: <span>{{challenge.experience}}</span></label>
                    </div>
                    <div>
                       <a href="{% url 'intent' chlng_id %}"><button id="intf" class="my-3 btn btn-primary mx-3">Find Intent</button></a>
                    </div>
                </div>
                {% endif %}
                <div class="w-50 mx-1">
                    <h6>Prompt Text: </h6>
                    {% if input_prompt %}
                        <textarea name="prompt" id="prompt" cols="100" rows="10">{{input_prompt}}</textarea>
                    {% elif final_prompt %}
                        <textarea name="prompt" id="prompt" cols="100" rows="10">{{final_prompt}}</textarea>
                    {% else %}
                        <textarea name="prompt" id="prompt" cols="100" rows="10"></textarea>
                    {% endif %}
                </div>
                <div class="w-50 mx-1">
                    <h6>Chat with AI: </h6>
                    {% if assembled_dialogue %}
                        <textarea name="chat_window" id="chat_window" cols="100" rows="10">{{assembled_dialogue}}</textarea>
                    {% elif intent_pred %}
                        <textarea name="chat_window" id="chat_window" cols="100" rows="10">{{intent_pred}}</textarea>
                    {% endif %}
                    <input type="text" size="80" id="user_msg" placeholder="{{user_feedback}}"><br>
                    <input type="button" class="btn btn-success my-1" value="send" id="submit">
                </div>
            </div>
       </div>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded", () =>{
        const websy = new WebSocket(`ws://${window.location.host}/ws/chat/{{chlng_id}}/`);
        document.querySelector("#submit").addEventListener("click", () => {
            console.log("got in") 
            const intent = document.querySelector("#chat_window").value
            const user_msg = document.querySelector("#user_msg").value
            websy.send(JSON.stringify({usr_msg: user_msg,
                                    intent: intent}))
        });
        websy.onmessage = ({ data }) => {
            const json_data = JSON.parse(data)
            console.log(json_data)
            const intent = document.querySelector("#chat_window").value
            const user_msg = document.querySelector("#user_msg").value
            document.querySelector("#prompt").value = json_data['input_prompt']

            if (json_data['pred_intent']) {
            document.querySelector("#chat_window").value += `
User: ${user_msg}
AI intent: ${json_data['pred_intent']}
`
        } 
            if (json_data['pred_question']){
             document.querySelector("#chat_window").value += `
User: ${user_msg}
AI Question: ${json_data['pred_question']}
`
            }
        };
    });
    </script>
{% endblock %}