{% extends 'base.html' %}
{% load static %}
{% block title %}PPwLLM{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h3>Welcome. Lets get coding </h3>
        </div>
        <div>
            <div class="d-flex flex-row flex-wrap">
                {% if newchallenge %}
                <div class="w-30 mx-1 p-2">
                    <form action="{% url 'save' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <h6>Begin {{ newchallenge }}: </h6>
                        </div>
                        <div style="height: 100px;">
                            <label for="challenge">Your Challenge </label>
                            <input type="text" name="challenge" id="challenge" class="float-right h-50">
                        </div>
                        <div>
                            <label for="language">Code Lang </label>
                            <select name="language" id="language" class="form-select mx-3">
                                <option value="python">Python</option>
                                <option value="javascript">JavaScript</option>
                                <option value="go">Go</option>
                                <option value="rust">Rust</option>
                            </select>
                        </div>
                        <div>
                            <label for="apptype">App Type </label>
                            <select name="apptype" id="apptype" class="form-select mx-3">
                                <option value="script">Script</option>
                                <option value="webapp">WebApp</option>
                                <option value="gui">GUI</option>
                                <option value="commandline">CommandLine</option>
                            </select>
                        </div>
                        <div>
                            <label for="experience">Coding Exp </label>
                            <select name="experience" id="experience" class="form-select mx-3">
                                <option value="non-coder">Non-Coder</option>
                                <option value="amateur">Amateur</option>
                                <option value="junior">Junior</option>
                                <option value="midlevel">MidLevel</option>
                                <option value="hacker">Hacker</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="my-3 btn btn-primary mx-3">Save Intent</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="w-30 mx-1 p-2">
                    <div>
                        <h6>Loading {{ challenge }}: </h6>
                    </div>
                    <div>
                        <p>Your Challenge: <span>{{challenge.challenge}}</span></p>
                    </div>
                    <div>
                        <p>Code Lang: <span>{{challenge.language}}</span></p>
                   </div>
                    <div>
                        <p>App Type: <span>{{challenge.apptype}}</span></p>
                    </div>
                    <div>
                        <p>Coding Exp: <span>{{challenge.experience}}</span></label>
                    </div>
                    <div>
                        <button id="submit" class="my-3 btn btn-primary mx-3">Start Review</button>
                    </div>
                </div>
                {% endif %}
                <div class="w-50 mx-1">
                    <h6>Chat with AI: </h6>
                    <textarea name="chat_window" id="chat_window" cols="100" rows="10"></textarea>
                    <input type="text" size="80" id="user_msg"><br>
                    <input type="button" class="btn btn-success my-1" value="send">
                </div>
            </div>
       </div>
    </div>
{% endblock %}