{% extends 'base.html' %}
{% load static %}
{% block title %}PPwLLM{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h3>Available Messages</h3>
        </div>
           {% if obj_data or raw_msg %}
            <div class="d-flex flex-wrap">
                {% for obj in obj_data %}
                <div class="w-50">
                    <p><strong>Message Date: </strong>{{obj.msgdate}}</p>
                    <p><strong>From: </strong>{{obj.phonenumber}}</p>
                    <p><strong>Raw_Content: </strong>{{obj.rawcontent}}</p>
                    {% if obj.openaiparsed or obj.groqparsed %}
                        <p><strong>OpenAI Parsed: </strong></p>
                        <code>{{obj.openaiparsed}}</code>
                        <p><strong>Groq Parsed: </strong></p>
                        <code>{{obj.groqparsed}}</code>
                    {% else %}
                        <button><a href="{% url 'save_json' obj.id %}" class="btn btn-secondary">Save Json</a></button>
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
            {% if raw_msg %}
            <div class="d-flex flex-wrap">
                <div class="w-50">
                    <p><strong>Message Date: </strong>{{raw_msg.msgdate}}</p>
                    <p><strong>From: </strong>{{raw_msg.phonenumber}}</p>
                    <p><strong>Raw_Content: </strong>{{raw_msg.rawcontent}}</p>
                    {% if raw_msg.openaiparsed or raw_msg.groqparsed %}
                        <p><strong>OpenAI Parsed: </strong></p>
                        <code>{{raw_msg.openaiparsed}}</code>
                        <p><strong>Groq Parsed: </strong></p>
                        <code>{{raw_msg.groqparsed}}</code>
                        <button><a href="{% url 'show_msg' source %}" class="btn btn-secondary">Main Page</a></button>
                    {% else %}
                        <button><a href="{% url 'save_json' raw_msg.id %}" class="btn btn-secondary">Save Json</a></button>
                    {% endif %}
                </div> 
            </div>
            {% endif %}
            {% if raw_objs %}
            <div class="d-flex flex-wrap">
                {% for obj in raw_objs %}
                <div class="w-50">
                    <p><strong>Message Date:</strong></p>
                    <p><strong>From: </strong>{{ obj.content|truncatewords:20 }}</p>
                    <button><a href="{% url 'show_msg' obj.id %}" class="btn btn-secondary">Dive In</a></button>
                    <button><a href="{% url 'remove_msg' obj.id %}" class="btn btn-primary">Delete</a></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}